<style>
  .wa-share-btn-container {
    bottom: 55%!important;
  }
</style>
<div class="flipbook-viewport">
	<div class="container">
		<div class="flipbook">
            {% for block in section.blocks %}
			<div style="background-image:url({{ block.settings.image | img_url: '1080x1920' }})">
              {% if block.settings.url != blank %}<a class="link" href="{{ block.settings.url }}" target="_blank"></a>{% endif %}
            </div>
            {% endfor %}
		</div>
        <button id="prev" class="btnNav"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg></button>
        <button id="next" class="btnNav"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></button>
	</div>
</div>


<script type="text/javascript">

  let width = 450
  let height = 800

  if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
     width = 300
     height = 533
  }

  function loadApp() {
	// Create the flipbook
	$('.flipbook').turn({
      // Width
      width: width,
      // Height
      height: height,
      // Elevation
      elevation: 50,
      // Enable gradients
      gradients: true,
      // Auto center this flipbook
      autoCenter: true,

      display: 'single',
      next: true
	});
  }

  $("#prev").click(function() {
		$(".flipbook").turn("previous");
  });
  
  $("#next").click(function() {
  		$(".flipbook").turn("next");
  });

  // Load the HTML4 version if there's not CSS transform
  yepnope({
  	test : Modernizr.csstransforms,
  	yep: ['https:{{ 'turn.js' | asset_url }}'],
  	nope: ['https:{{ 'turn.html4.js' | asset_url }}'],
  	both: ['https:{{ 'basic.css' | asset_url }}'],
  	complete: loadApp
  });

</script>