<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>{% render 'pagefly-head' %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR6P9PK');</script>
<!-- End Google Tag Manager -->
  
  <!-- Global site tag (gtag.js) - Google Ads: 940341911 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-940341911"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149365275-1', { 'send_page_view': false });
  gtag('config', 'AW-940341911');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SB72N1ZMK3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SB72N1ZMK3');
</script>
<meta name="google-site-verification" content="eKsF6XPRRSMnVkY6rqRR_EEj3uMEtWKIdNDWlWvOkwM" />
<meta name="google-site-verification" content="ZG6-MJzI-7yCxyz3p2KyAYyAc4ZAvbu9IyF8K2xrjk8" />

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{shop.name}}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {% include 'shopify_css' %}
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">

  {% include 'google-fonts' %}


  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

	{% include 'vitals-loader' %}
  {% include 'shopify_js' %}
  {% comment %}
{%- include 'bold-common' -%}
  {% endcomment %}
  {% include 'oldIE-js' %}
  
<!-- BeginConsistentCartAddon --><script>{% if customer %}Shopify.merge_cart_text = '{{ "consistent_cart_addon.merge_cart_text" | t }}' ;Shopify.customer_logged_in = true ;Shopify.customer_email = "{{ customer.email }}" ;Shopify.log_uuids = true;{% else %}Shopify.customer_logged_in = false ;Shopify.customer_email = "" ;Shopify.log_uuids = true;{% endif %}</script><!-- EndConsistentCartAddon -->
{% comment %}
  {%- include 'bold-product' with product, hide_action: 'header' -%}
<script src="//staticxx.s3.amazonaws.com/aio_stats_lib_v1.min.js?v=1.0"></script>  
  {% include "loyaltylion" %}
{% include 'booster-common' %}
  {% endcomment %}
 
{% include 'pagefly-header' %}

<script>
(function () {
  window.BatiConfig = {
      sdkBaseUrl: "https://wifkain-agent.batiinvestasi.ai",
      preload: true,
      customerId: window.ShopifyAnalytics?.meta?.page?.customerId,
      layout: 'search_bar',
      behavior: {
          sessionPersistence: 'browser',
          excludePaths: ['/checkouts', '/pages', '/blogs', '/cart', '/apps', '/account', '/a', '/cdn'],
          welcomeMessage: ["Bingung pilih yang mana? Ketik kebutuhanmu di sini"],
          expandOnLoad: true,
          openOnLoad: {
              enabled: true,
              delay: 1000,
          }
      },
      theme: {
          fonts: {
              importUrl: "https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=DM+Sans:wght@400;500;600;700&display=swap",
              serif: "'Playfair Display', serif",
              sans: "'DM Sans', sans-serif"
          }
      },      
  };

  const s = document.createElement("script");
  s.defer = true;
  s.src = "https://wifkain-agent.batiinvestasi.ai/sdk/bati.min.js?clientId=eyJkb21haW4iOiJrYW1paWRlYS5jb20iLCJ0aW1lc3RhbXAiOjE3NjUxMTU0NzQ0MTksIm5vbmNlIjoiNjc4NzIxNGMwM2QzZTg4MDJjMzMzODIxNTVjMTE4MmEifS40MWY4ZTVmNjYwZDdmYWRhNjhkYzExNzY1NzRkYjc4ZThjMjE1M2UyMTA3M2RhNzMwNjBmM2I1MmRiNTU5YmM0&integrationId=kamiidea";
  document.head.appendChild(s);
})();
</script>
 

  

 </head> 

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% unless template == 'index' %}template-noindex {% endunless %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
{% capture the_snippet_content %}{% render 'socialshopwave-helper' %}{% endcapture %}
            {% unless the_snippet_content contains 'Liquid error' %}
              {{ the_snippet_content }}
            {% endunless %}

  <div id="NavDrawer" class="drawer drawer--left">
    {% section 'drawer-menu' %}
  </div>
  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>

  <div id="PageContainer" class="page-container">

    {% section 'header' %}

    {% if template.name == "index" %}
      {% section 'slideshow' %}
    {% endif %}

    <main class="main-content" role="main">
      {% unless template.name == "index" or template == "collection.image" or template == 'page.our-company' or template == 'page.ig-kami' %}
        <div class="wrapper">
          {% include 'breadcrumbs' %}
      {% endunless %}
        {{ content_for_layout }}
      {% unless template.name == "index" or template == "collection.image" %}
        </div>
      {% endunless %}
    </main>

    <script type="text/javascript">
      var index = 0;
      {% if template == 'index'%}index=1;{% endif %}
      var money_format_update="<span class='money'>{{ shop.money_format | strip_html }}</span>";
    </script>
    
    {% section 'footer' %}
    {% if template == 'index' %}
    {% include 'popup-location' %}
    {% include 'banner-popup' %}
    {% endif%}
  </div>

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if template.name == 'product' or template.name == 'index' %}
      <script>
        // Override default values of shop.strings for each template.
        // Alternate product templates can change values of
        // add to cart button, sold out, and unavailable states here.
        theme.productStrings = {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        }
      </script>
    {% endif %}

  <div id="SearchModal" class="mfp-hide">
    {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
  </div>
  
  {% include 'iwish_v2' with 'iwishfooter' %}

 {% include 'smile-initializer' %}

 {% include 'smile-ui-launcher' %}
  
  {% include 'currencies' %}
  {% comment %}
{% include 'talon-member-price-template' %}{% include 'aaa_loyalty_snippet' %}
<input type="hidden" id="656565115116111114101" data-customer-id="{{ customer.id }}" data-customer-email="{{ customer.email }}" data-customer-name="{{ customer.first_name }} {{ customer.last_name }}"/>
{{ 'cb-webx-cssfile.css' | asset_url | stylesheet_tag }}
{% include 'grconnect-widgets-inc' %} {% include 'swin-widgets-inc' %}
  {% endcomment %}



  {% comment %}
{% render 'th-bundle-product' %}
{% endcomment %}
  {% comment %}
<!-- spurit_stp-added -->
{% render 'spurit_stp-theme-snippet' %}
<!-- /spurit_stp-added -->
  {% endcomment %}


{% comment %}
{% include 'booster-discounts' %}
  {% endcomment %}

<script type='text/javascript' async='' src='https://window-shoppers.azurewebsites.net/Scripts/windowshoppers.min.js?env=https://window-shoppers.azurewebsites.net&v=1&shop=kamiideas.myshopify.com'></script>

  <script type='text/javascript'>
    if (typeof sswRun === 'function') {
      sswRun( ()=> {
        const ONE_POINT = '<span class="ssw-earn-points-count ssw-checked">1</span> point for every 20 rupees';
        var sswInterval  = setInterval( ()=> {
          let $ssw_earn_points_count = ssw('[data-earning-rule="place_order"] > .ssw-reward-box-earning-rule-desc > span.ssw-earn-points-count');
          if ($ssw_earn_points_count.length && !$ssw_earn_points_count.hasClass('ssw-checked')) {
            $ssw_earn_points_count.addClass('ssw-checked');
            $ssw_earn_points_count.parent().empty().append(ONE_POINT);
          }
          let $ssw_earn_points_count_on_page = ssw('#ssw-reward-page-earning-rules-wrapper [data-type="place_order"] span.ssw-earn-points-count');
          if ($ssw_earn_points_count_on_page.length && !$ssw_earn_points_count_on_page.hasClass('ssw-checked')) {
            $ssw_earn_points_count_on_page.addClass('ssw-checked');
            $ssw_earn_points_count_on_page.parent().empty().append(ONE_POINT);
          }
        }, 300)
      })
    }
  </script>  
  

{% render 'special-offers' %}

</body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MR6P9PK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>
{% comment %}
{% unless template contains 'product' %}
<!-- Begin Nantiaja-Shopify JS Snippet -->
<script type="text/javascript">
// Non-editable fields
var nantiaja_shop_currency = {{ shop.currency | json }};
var nantiaja_shop_money_format = {{ shop.money_format | json }};
var nantiaja_shop_permanent_domain = {{ shop.permanent_domain | json }};
var nantiaja_theme_name = {{ theme.name | json }};
var nantiaja_product = {{ product | json }};
var nantiaja_current_variant = {{ product.selected_or_first_available_variant | json }};
var nantiaja_cart_total_price = {{ cart.total_price | json }};
var nantiaja_js_snippet_version = '1.0.0';
</script>
<!-- <script type="text/javascript" src="https://static.nantiaja.com/shopify-snippet.js"></script> -->
<script type="text/javascript" src="https://static.nantiaja.com/shopify-snippet.js"></script>
<!-- End Nantiaja-Shopify JS Snippet -->
  {% endunless %}
{% endcomment %}